<div class = "footer">
  --- Please follow :D ---
  <br>
  <a href="https://twitter.com/woyovt6blclujse" class="fa fa-twitter fa-2x twitter" aria-hidden="true"></a>
  <a href="https://www.instagram.com/kazuya_no_gohan/" class="fa fa-instagram fa-2x instagram" aria-hidden="true"></a>
</div>
