<%= render partial: 'recipes/header'%>

<h1>編集ページ</h1>
<div class = "error">
  <% @recipe.errors.full_messages.each do |message|%>
    <%= message %>
  <% end %>
</div>
<br>
<%= render partial: 'form', locals: {recipe: @recipe, url: recipe_path, method: :patch} %>
<%= button_to "戻る", recipes_path, method: :get %>