<%= render partial: 'recipes/header'%>
<div class ="container">
  <div class = "main-wrapper">
    Hello
    <%= current_user.nickname %>さん
 　お気に入り一覧
 　作った記録一覧
 　閲覧履歴
 aaaaaaaaaaaaaaaa
  </div>

  <div class="sidebar">
    <%= render partial: 'recipes/sidebar' %>
  </div>
</div>