.footer {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
}

.twitter {
  margin: 10px;
  text-decoration: none;
}

.instagram {
  margin: 10px;
  text-decoration: none;
}