.list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.index {
  margin: 40px;
}

.index-image {
  border-radius: 5px;
}

.index-image-type {
  position: relative;
}

.index-image-type p {
  position: absolute;
  top: 5px;
  right: 5px;
  color:#336666;
  font-weight: bold;
  font-size: 15px;
  background-color:white ;
  padding: 0px 5px;
  border-radius: 5px;
}

 h1.index-title {
  font-size: 25px;
  text-decoration: none;
  color:#220000;
}

.index-subtitle {
  font-size: 15px;
  text-decoration: none;
  color:#220000;
}

.index-tag{
  color:#220000;
  float: right;
}

/* .tag-name {
  position: relative;
  display: inline-block;
  height: 20px;
  margin-left: 30px;
  padding: 1rem 2rem 1rem 3rem;
  color: #fff;
  background: #fa4141;
}

.tag-name:before {
  position: absolute;
  top: 0;
  left: -30px;
  content: '';
  border-width: 32px 30px 32px 0;
  border-style: solid;
  border-color: transparent #fa4141 transparent transparent;
}

.tag-name:after {
  position: absolute;
  top: calc(50% - 7px);
  left: -10px;
  width: 14px;
  height: 14px;
  content: '';
  border-radius: 50%;
  background: #fff;
} */

/* .fav-btn {
  display: flex;
} */