.new {
  margin-left: 200px;
}

.recipe-new {
  margin-left: 200px;
}

.recipe-title-new {
  font-size: 35px;
  color:#220000;
  text-decoration: none;
}

.recipe-image {
  border-radius: 10px;
}

.recipe-image-type-new {
  position: relative;
  width: 600px;
}

.recipe-image-type-new p {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-weight: bold;
}

.selected {
  opacity: 0.6;
}

.recipe-subtitle-new {
  font-size: 20px;
  text-decoration: none;
}
